<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar enfermedad</title>
</head>
<body>
    <nav id="menu">
		<ul id="Options">
			<form action="" class="form-inline" method="post">
                <input type="text" class="form-control" placeholder= "ID" name="id"
                    value="{{request.form.id}}">
                <input type="text" class="form-control" placeholder= "Nombre" name="name"
                    value="{{request.form.name}}">
                <input type="text" class="form-control" placeholder="Descripcion"name="description"
                    value="{{request.form.description}}">
                <input type="text" class="form-control" placeholder="URL Photo"name="photo"
                    value="{{request.form.photo}}">
                <input class="btn btn-default" type="submit" value="Crear">
            </form>

		</ul>
	</nav>
    <p>{{ error }}</p>
</body>
</html>