<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Usuario</title>
</head>
<body>
    <nav id="menu">
		<ul id="Options">
			<form action="" class="form-inline" method="post">
                <input type="text" class="form-control" placeholder= "ID" name="login"
                    value="{{request.form.login}}">
                <input type="text" class="form-control" placeholder="Contraseña"name="password"
                    value="{{request.form.password}}">
                <input type="text" class="form-control" placeholder="Nombre"name="name"
                    value="{{request.form.name}}">
                <input type="text" class="form-control" placeholder="Permiso"name="accountType"
                    value="{{request.form.accountType}}">
                <input type="text" class="form-control" placeholder="Foto"name="photo"
                    value="{{request.form.photo}}">
                <input class="btn btn-default" type="submit" value="Crear">
            </form>

		</ul>
	</nav>
    <p>{{ error }}</p>
</body>
</html>