<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    <meta charset="UTF-8">
    <title>Usuario </title>
</head>
<body>
    <h1>Hey there User </h1>
    <nav id="menu">
		<ul id="Options">
			<li id="First" value="0">Animales</li>
			<li value="1">Medicinas</li>
			<li value="2">Prescripciones</li>
		</ul>
	</nav>

    <section id="description">
		<p id="info"></p>
	</section>
</body>

</html>