<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

    <meta charset="UTF-8">
    <title>Administrador </title>
</head>
<body>
    <h1>Bienvenido</h1>
    <nav id="menu">
		<ul id="Options">
            <form action="" class="form-inline"method="POST">
                <input type="submit" name="action" value="Guardar Cambios" />
                <input type="submit" name="action" value="Cancelar Cambios" />
                <input type="submit" name="action" value="Listar Animales" />
                <input type="submit" name="action" value="Listar Medicinas" />
                <input type="submit" name="action" value="Listar Prescripciones" />
                <input type="submit" name="action" value="Listar dosis x enfermedad" />
                <input type="submit" name="action" value="Listar dosis x animal" />
            </form>
            <li id="First" value="3" ><a href={{url_for('createUser')}}            >Agregar usuario</a></li>
            <li value="4" ><a href={{url_for('createPrescription')}}    >Agregar prescripción</a></li>
            <li value="5" ><a href={{url_for('createDose')}}            >Agregar dosis</a></li>
            <li value="6" ><a href={{url_for('addAnimal')}}             >Agregar animal</a></li>
            <li value="7" ><a href={{url_for('addMedicine')}}           >Agregar medicina</a></li>
            <li value="8" ><a href={{url_for('addDisease')}}            >Agregar enfermedad</a></li>
            <li value="9" ><a href={{url_for('deleteUser')}}            >Eliminar usuario</a></li>
            <li value="10" ><a href={{url_for('deletePrescription')}}   >Eliminar prescripción</a></li>
            <li value="11" ><a href={{url_for('deleteDose')}}           >Eliminar dosis</a></li>
            <li value="12" ><a href={{url_for('deleteAnimal')}}         >Eliminar animal</a></li>
            <li value="13" ><a href={{url_for('deleteMedicine')}}       >Eliminar medicina</a></li>
            <li value="14" ><a href={{url_for('deleteDisease')}}        >Eliminar enfermedad</a></li>
		    <li value="15" ><a href={{url_for('searchAnimalToUpdate')}} >Modificar animal</a></li>
            <li value="16" ><a href={{url_for('searchUserToUpdate')}}           >Modificar usuario</a></li>
            <li value="17" ><a href={{url_for('searchPrescriptionToUpdate')}}   >Modificar prescripción</a></li>
            <li value="18" ><a href={{url_for('searchDoseToUpdate')}}           >Modificar dosis</a></li>
            <li value="19" ><a href={{url_for('searchAnimalToUpdate')}}         >Modificar animal</a></li>
            <li value="20" ><a href={{url_for('searchMedicineToUpdate')}}       >Modificar medicina</a></li>
            <li value="21" ><a href={{url_for('searchDiseaseToUpdate')}}        >Modificar enfermedad</a></li>
        </ul>
        <p>{{ error }}</p>
	</nav>

    <section id="description">
		<p id="info"></p>
	</section>
</body>
</html>