<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modificar dosis</title>
</head>
<body>
    <nav id="menu">
		<ul id="Options">
			<form action="" class="form-inline" method="post">
                <input type="text" class="form-control" readonly value = "{{ originalId }}"  name="id"
                    value="{{request.form.id}}">
                <input type="text" class="form-control" value= "{{ originalIdAnimal }}" name="idAnimal"
                    value="{{request.form.idAnimal}}">
                <input type="text" class="form-control" value= "{{ originalIdMedicine }}"  name="idMedicine"
                    value="{{request.form.idMedicine}}">
                <input type="text" class="form-control" value= "{{ originalIdDisease }}"  name="idDisease"
                    value="{{request.form.idDisease}}">
                <input type="text" class="form-control" value= "{{ originalrangoPeso }}" name="weightRange"
                    value="{{request.form.weightRange}}">
                <input type="text" class="form-control" value= "{{ originalDose }}" name="dose"
                    value="{{request.form.dose}}">
                <input class="btn btn-default" type="submit" value="Guardar">
            </form>

		</ul>
	</nav>
    <p>{{ error }}</p>
</body>
</html>